$colory: brown;
$colory2: rgb(182, 116, 17);
$colory3: beige;

body {
  text-align: center;
}
.header {
  background-color: $colory3;
  padding: 30px;
}
.container {
  background-color: $colory;
  padding: 70px;
  label {
    font-size: large;
  }
  input {
    font-size: large;
  }
  button {
    padding: 10px;
  }
}

@mixin goodOrBad($coloryBox: x) {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $coloryBox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxGood {
  @include goodOrBad($coloryBox: green);
  width: 100px;
  height: 100px;
}
.boxBad {
  @include goodOrBad($coloryBox: red);
  width: 100px;
  height: 100px;
}

.footer {
  background-color: $colory2;
  padding: 50px;
}
